.groupChild {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 8px;
  background-color: #f0efff;
  width: 369px;
  height: 62px;
}
.confrimPassword {
  position: absolute;
  top: 20px;
  left: 29px;
  display: inline-block;
  width: 147px;
}
.invisible1Icon {
  position: absolute;
  top: 23px;
  left: 320px;
  width: 17px;
  height: 17px;
  overflow: hidden;
}
.groupParent,
.groupWrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 369px;
  height: 62px;
}
.groupWrapper {
  top: 394px;
  text-align: left;
  font-size: 15px;
  color: #a7a3ff;
  font-family: Poppins;
}
