.frameIcon {
  position: relative;
  width: 46px;
  height: 152.34px;
  overflow: hidden;
  flex-shrink: 0;
}
.testimonalName,
.testimonialRole {
  position: relative;
  line-height: 20px;
  display: inline-block;
  width: 178px;
  height: 25.79px;
  flex-shrink: 0;
}
.testimonialRole {
  font-size: 16px;
  line-height: 18px;
  color: #8d8ba7;
  height: 23.21px;
}
.frame,
.frame1 {
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.frame1 {
  width: 152.34332275390625px;
  height: 60.19px;
  flex-direction: column;
  gap: 11px;
  position: undefined;
  margin-top: 92px;
}
.frame {
  width: 239px;
  height: 152.34px;
  flex-direction: row;
  gap: 15px;
}
.stm {
  margin: 0;
}
.testimonialParagraphTxtContainer {
  line-break: anywhere;
  width: 100%;
}
.testimonialParagraph {
  position: relative;
  font-size: 24px;
  line-height: 34px;
  display: flex;
  align-items: center;
  width: 815px;
  height: 377px;
  flex-shrink: 0;
}
.mainPageWhatispt {
  background-color: #fff;
  width: 1440px;
  display: flex;
  flex-direction: row;
  padding: 20px 85px;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: -77px;
  text-align: left;
  font-size: 20px;
  color: #5d5a88;
  font-family: "DM Sans";
}
