.groupChild {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 9px;
  background-color: #4d47c3;
  box-shadow: 0 4px 61px rgba(77, 71, 195, 0.4);
}
.login {
  position: absolute;
  top: 30.51%;
  left: 42.82%;
  font-weight: 500;
}
.rectangleParent {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.groupWrapper {
  position: absolute;
  top: 318px;
  left: 0;
  width: 369px;
  height: 59px;
  text-align: left;
  font-size: 16px;
  color: #fff;
  font-family: Poppins;
}
