.sidemenuLarge {
  position: relative;
  background-color: #fff;
  width: 251px;
  height: 1024px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 32px 24px;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
}
