.container {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 15px;
  background-color: #fff;
  border: 1px solid #d4d2e3;
  box-sizing: border-box;
  width: 1057px;
  height: 126.74px;
}
.lineRoundedchevronRight {
  position: absolute;
  top: 46.93px;
  left: 986.84px;
  width: 38.4px;
  height: 33.86px;
  overflow: hidden;
}
.marketCandidate {
  position: absolute;
  top: 568.23px;
  left: 181px;
  width: 1057px;
  height: 126.74px;
}
