.container {
  position: absolute;
  top: 0.15px;
  left: 0;
  background-color: #fff;
  width: 1440px;
  height: 117.85px;
}
.logoStyleGuideTop {
  position: absolute;
  top: 41.83px;
  left: 110px;
  width: 261.31px;
  height: 34.35px;
}
.lineRoundedpasswordIcon {
  position: relative;
  width: 20px;
  height: 20px;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.home {
  position: relative;
  line-height: 18px;
}
.link,
.masterLink {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.masterLink {
  align-items: center;
  gap: 6px;
}
.link {
  align-items: flex-start;
}
.lineRoundedchevronDown3 {
  position: relative;
  width: 20px;
  height: 20px;
  overflow: hidden;
  flex-shrink: 0;
}
.sections {
  position: absolute;
  top: 47px;
  left: 416.31px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 33px;
}
.buttonsSet,
.login,
.navList {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}
.login {
  gap: 6px;
}
.buttonsSet,
.navList {
  width: 220px;
}
.navList {
  padding: 0 0 0 25px;
  box-sizing: border-box;
  gap: 16px;
}
.buttonsSet {
  position: absolute;
  top: 32px;
  right: 110px;
}
.container1 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 15px;
  background-color: #fff;
  border: 1px solid #d4d2e3;
  box-sizing: border-box;
  width: 1057px;
  height: 125.13px;
}
.lineRoundedchevronRight {
  position: absolute;
  top: 47.23px;
  left: 990.84px;
  width: 38.4px;
  height: 33.43px;
  overflow: hidden;
}
.marketCandidate {
  position: absolute;
  top: 279px;
  left: 181px;
  width: 1057px;
  height: 125.13px;
}
.offIcon,
.offIcon1,
.offIcon2,
.offIcon3 {
  position: absolute;
  top: 759px;
  left: 135px;
  width: 32px;
  height: 30px;
}
.offIcon1,
.offIcon2,
.offIcon3 {
  top: 615px;
  left: 132px;
}
.offIcon2,
.offIcon3 {
  top: 471px;
}
.offIcon3 {
  top: 322px;
}
.favPage {
  position: relative;
  background-color: #fff;
  width: 100%;
  height: 1879px;
  overflow: hidden;
  text-align: center;
  font-size: 18px;
  color: #5d5a88;
  font-family: "DM Sans";
}
